

html,body {margin: 0 0 0 0; height: 100%; width:100%; overflow: hidden;
}

#canv {
  /* zoom: 1; */
height: 2000px;
width:5000px;



/* overflow-x: scroll; */
}

#projdiv {
z-index: 900;
}
#back {
  /* zoom: 1; */
background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
opacity: 0.3;
width:5000px;
height: 2000px;
position: absolute;
left: 0px;
top: 0px;
z-index: -200;
}
h1 {
  font-family: monospace;
}

p {
  font-family: monospace;
}

p.parameter {
  width: 90px;
}

/* img {
  width: 400px;
} */

h1.projecttext {
  /* background: white;
  opacity: 0.6; */
  width: 200px;
  text-decoration: underline;
  text-transform: uppercase;

}

p.projecttext {
  /* background: white;
  opacity: 0.6; */
  max-width: 180px;
  height: 300px;
  word-wrap: break-word;
  font-size: 15pt;

}
.projecttext {
  overflow: auto;
}

/* div.projecttextdiv {
    background-color: lightblue;
    width: 200px;
    height: 100px;
    overflow: scroll;
} */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 10px; /* Specified height */
    background: none; /* Grey background */
    border: 1px solid black; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    float: left;

}
.slider3 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 10px; /* Specified height */
    background: none; /* Grey background */
    border: 1px solid black; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    float: left;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider1 {
    -webkit-appearance: none;  /* Override default CSS styles */
    align-self: center;
    appearance: none;
    height: 5px; /* Specified height */
    background: black; /* Grey background */
    outline: none;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    z-index: 205;
}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.button {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    margin-left: 50px;
      font-family: monospace;
}

.button1 {
  position: fixed;
  top: 0px;
  left: 160px;
  background-color: white;
  color: black;
  border: 1px solid #555555;
  margin-left: 50px;
  font-family: monospace;
}

.button:active, .button1:active{
  background-color: white;
  color: black;
}
/* .canv{
  width: windowWidth;
  overflow-x: scroll;
} */

.button:hover, .button1:hover {
    background-color: #555555;
    color: white;
}
#definition{
  border-top: 1px solid black;
}
#menu {
  position: fixed;
  margin-top: 0px;
  margin-left: 0px;
  height: windowHeight;
  background-color: white;
  width: 150px;
  font-size: 20px;
  padding: 20px;
  border-right: 1px solid black;
  hyphens: auto;
  z-index: 1000;
  overflow: auto;
  zoom: 0.7;
}
